---
import Layout from '@layouts/Layout.astro';
import Container from '@components/layout/Container.astro';
---

<Layout>
  <Container>
    <div class="starter">
      <header>
        <h1>Consent Press Starter</h1>
        <p>This is a starter project for Consent Press.</p>
      </header>
      <nav>
        <!-- Starter Nav -->
      </nav>
      <main>
        <section id="about">
          <div class="content-box">
            Content
          </div>
        </section>
      </main>
    </div>
  </Container>
</Layout>
